    <div class="container">
 

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>簡単に記帳できる家計簿アプリ</h2>
                    <p class="lead">Kakeiboは気軽に始められる家計簿アプリです</p>
                    <a class="btn btn-lg" href="" >無料でサインアップ</a>
                    <input type="button" class="btn btn-primary btn-lg" value="大きい" />

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section id="services" class="services bg-danger">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>機能</h1>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-signal fa-stack-1x text-primary"></i>
                             
                            </span>
                                <h4>
                                    <strong>目標管理</strong>
                                </h4>
                                <p>月の目標貯金額を設定することにより、使いすぎを防止します。</p>
                               
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-coins fa-stack-1x text-primary"></i>
                               
                            </span>
                                <h4>
                                    <strong>総資産</strong>
                                </h4>
                                <p>現在の総資産を自動で計算して表示されます。</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-award fa-stack-1x text-primary"></i>
                                
                            </span>
                                <h4>
                                    <strong>バッジ機能</strong>
                                </h4>
                                <p>あなたの行動に対してバッジが付与されます。まずはコメントしてみてください。</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

  
   
 </div>
   