<div class="container-fluid bg-success kantan">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="top">簡単でシンプルに記帳できる家計簿アプリ</h2>
      <p class="lead">Kakeiboは気軽に始められる家計簿アプリです</p>
      <li> <%= link_to(signup_path,class:"btn warning kichoubtn")do%>
        <div class="kichoubtn btn topbtn"> 無料でサインアップ</div>
      <%end%>
    </div>
  </div>
</div>

<div class="container-fluid bg-default option">
  <div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
      <h1 class="midashi">機能</h1>
      <hr class="small">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="service-item">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fas fa-signal fa-stack-1x text-primary"></i>
            </span>
            <h4>
              <strong>目標管理</strong>
            </h4>
            <p>月の目標貯金額を設定することにより、使いすぎを防止します。</p>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="service-item">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fas fa-coins fa-stack-1x text-primary"></i>
            </span>
            <h4>
              <strong>総資産</strong>
            </h4>
            <p>現在の総資産が自動で計算され表示されます。</p>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="service-item">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-calendar fa-fw fa-stack-1x text-primary"></i>
            </span>
            <h4>
              <strong>月別管理</strong>
            </h4>
            <p>月ごとの記録が保存されるので、過去の記録を参照することが可能です</p>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="service-item">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fas fa-award fa-stack-1x text-primary"></i>
            </span>
            <h4>
              <strong>バッジ機能</strong>
            </h4>
              <p>あなたの行動に対してバッジが付与されます。まずはコメントしてみてください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-default hr option">
  <div class="row text-center">
    <h1 class="midashi">リンク</h1>
    <div class="github-unker"> <%= link_to("https://github.com/kkfender",class:"")do%>
      <div class="github-unker"><i class="fab fa-github "> GitHub</i></div>
    <%end%>
    </div> 
  </div>
</div>

<div class="container-fluid bg-default hr ">
  <div class="row ">
    <ul class="text-right text-default last">
      <li>
   　    Kakeibo    ©2019
      </li>
    </ul>
  </div>
</div>