 <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid primary">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand mr-0 mr-md-2d text-muted logo" href="#">家計簿X</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <%= link_to "new",new_user_path, class: "navbar-text navbar-right"%>
          <p class="navbar-text navbar-right">ozaki25 さんでログイン中</p>
        </div>
      </div>
    </nav>